
<h1>victories</h1>

<carousel class="col-xs-10 col-xs-offset-1">
  <slide ng-repeat="victory in victories" active="victory.active" class="petition-container row slide-size" >
  	<div class="image-container col-xs-5">
  		<img ng-src="{{victory.img}}" alt="{{victory.title}}">
  	</div>
  	<div class="col-xs-7">
  		<h3>{{victory.title}}</h3>
  		<p>{{victory.msg}}</p>
  		<div class="details-container row">
  			<div class="col-md-6">{{victory.username}}</div>
  			<div class="col-md-3">{{victory.signatures}}</div>
  			<div class="col-md-3">{{victory.date | date}}</div>
  		</div>
  	</div>
  </slide>
</carousel>

